dash==2.18.2
dash-bootstrap-components==1.4.1
pandas==2.2.3
plotly==5.15.0
openai==1.55.3
Flask==2.3.2
fetchai==0.1.24
python-dotenv==1.0.1
flask_cors==5.0.0
uagents==0.9.4
uagents-core==0.2.0
web3==6.0.0
requests==2.31.0
cosmpy==0.9.0
typing-extensions==4.5.0
asyncio==3.4.3
